.App {
  text-align: center;
  color: white;
}
.header {
  padding: 50px;
  font-weight: bold;
}
.add {
  background-color: #e6a614;
  color: white;
  height: 25px;
}

.todo-list {
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: black;
  width: 300px;
}
.todo-container li {
  text-align: left;
  align-content: center;
}
.todo-input {
  width: 250px;
  height: 20px;
}
