.App {
  text-align: center;
  background-color: #1e1e28;
  color: white;
}
.header {
  padding: 50px;
  font-weight: bold;
}
.add {
  background-color: #e6a614;
  color: white;
}
.todo-container {
  background-color: #1e1e28;
}
.todo-list {
  background-color: white;
}
